[submodule "system"]
	path = system
	url = https://github.com/WordPress/WordPress.git
	branch = master
	depth = 1
[submodule "content/themes/calibrefx"]
	path = content/themes/calibrefx
	url = https://github.com/calibreworks/calibrefx.git
	branch = master
	depth = 1
