[submodule "system"]
	path = system
	url = https://github.com/WordPress/WordPress.git
	branch = master
[submodule "content/themes/calibrefx"]
	path = content/themes/calibrefx
	url = git@github.com:calibreworks/calibrefx.git
	branch = v2.0a
